<nav>
  <ul>
    <li class="hide_icon">
      <a href="../html/index.html">
        <img src="../icons/instagram_logo_black.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="../html/index.html"
        ><img
          id="home_logo"
          src="../icons/instagram_home_light.svg"
          alt=""
          title="Home"
          height="24"
      /></a>
    </li>
    <li class="hide_icon">
      <img onclick="notAvailable()" src="../icons/instagram_search_light.svg" alt="" />
    </li>
    <li>
      <a href="../html/explore.html"
        ><img
          id="explore_logo"
          src="../icons/instagram_discover_light.svg"
          alt=""
          title="Explore"
          height="24"
      /></a>
    </li>
    <li>
      <a href="../html/reels.html"
        ><img
          id="reels_logo"
          src="../icons/instagram_reels_light.svg"
          alt=""
          title="Reels"
          height="24"
      /></a>
    </li>
    <li>
      <img
        onclick="notAvailable()"
        src="../icons/instagram_new_post.svg"
        alt=""
        title="New post"
        height="24"
      />
    </li>
    <li class="hide_icon">
      <img
        onclick="notAvailable()"
        src="../icons/instagram_like_light.svg"
        alt=""
        title="Benachrichtigungen"
        height="24"
      />
    </li>
    <li>
      <img
        onclick="notAvailable()"
        id="inbox_logo"
        src="../icons/instagram_direct_light.svg"
        alt=""
        title="Inbox"
        height="24"
      />
    </li>
    <li>
      <img
        onclick="notAvailable()"
        src="../icons/instagram_user_icon.png"
        alt=""
        title="Login"
        height="24"
      />
    </li>
    <li class="hide_icon">
      <img
        onclick="notAvailable()"
        src="../icons/instagram_burger_menu.svg"
        alt=""
        title="Login"
        height="24"
      />
    </li>
  </ul>
</nav>
